.header {
  grid-area: h;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 2px rgb(99, 99, 99);
  background: url(../../../images/graf1.jpeg);
}

.header::after {
  background-color: rgba(0,0,0,1);
}

/* .header img {
  width: 50px;
} */